<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppPatoBlanco_USMP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AppPatoBlanco_USMP.styles.css" asp-append-version="true" />
     <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
     <script src="https://kit.fontawesome.com/134f75f772.js" crossorigin="anonymous"></script>
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 bg-dark" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pato Blanco</a>
                <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                             <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>&nbsp;&nbsp;
                           
                       
                        <!--Contacto-->
                           
                            <a class="nav-link text-white" asp-area="" asp-controller="Contacto" asp-action="Index"><b>Contacto</b></a>&nbsp;&nbsp;
                        
                        <!--Comprar desde la web-->
                           
                            <a class="nav-link text-white" asp-area="" asp-controller="Menu" asp-action="Index"><b>Menu</b></a>&nbsp;&nbsp;
                       
                        <!--Quienes Somos-->
                       
                            <a class="nav-link text-white" asp-area="" asp-controller="Quienes" asp-action="Index"><b>Quienes Somos</b></a>&nbsp;&nbsp;

                            <a class="nav-link text-white" asp-area="" asp-controller="Reserva" asp-action="Index"><b>Reserva</b></a>&nbsp;&nbsp;
                       
                                           
                        
                        <partial name="_MenuPartial" />
                    </ul>
                    <partial name="_LoginPartial" />
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br>
<br>
<br>
<br>
<br>
<br>
<footer id="footer" class="bg-dark text-white">
    <div class="container">
        <div class="row">           
            <div class="col-sm-2 content">                 
               <h4>Servicios</h4>
            <ul>
              <li><a asp-controller="Home" asp-action="Index" class="text-white">Inicio</a></li>
              <li><a asp-controller="Contacto" asp-action="Index" class="text-white">Contacto</a></li>
              <li><a asp-controller="Menu" asp-action="Index" class="text-white">Menu</a></li>              
              <li><a asp-controller="Quienes" asp-action="Index" class="text-white">Quienes Somos</a></li>
              <li><a asp-controller="Reserva" asp-action="Index" class="text-white">Reserva</a></li>
            </ul>
            </div>
            <div class="col-sm-6 content">   
                <!--logo-->
                <a href="" class="col-3 text-reset text-uppercase d-flex align-items-center">
                    <img src="~/img/logopato.png" alt="" class="img-logo mr-2">
                </a>
                <!--redes sociales-->
                <ul class="col-3 list-unstyled">
                <li class="font-weight-bold">Redes Sociales</li>
                <li class="d-flex justify-content-between " align-items=center>
                   <a href="#"class="text-reset">
                       <i class="fa-brands fa-facebook"></i>
                   </a>                   
                   <a href="#"class="text-reset">
                       <i class="fa-brands fa-whatsapp"></i>
                   </a>
                   <a href="#"class="text-reset">
                       <i class="fa-brands fa-instagram"></i>
                   </a>
                   <a href="#"class="text-reset"></a>
                </li>  
                </ul>
                <div class="container footer-bottom ">
                <div class="copyright text-center">
                    Todos los derechos reservados. 
                </div>
                </div>             
            </div>
            <div class="col-sm-4 mapp">
                <h1 >Ubicanos</h1>
               <div data-aos="fade-up">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2319.8963837473866!2d-76.94313852831844!3d-12.072042063645771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6e79034dc63%3A0x393610bdc506718b!2sFacultad%20de%20Ingenier%C3%ADa%20y%20Arquitectura%20-%20USMP!5e0!3m2!1ses!2spe!4v1655507543029!5m2!1ses!2spe" width="450px" height="200px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                </div>
            </div>
        </div>
    </div>
  </footer> 
  <style>
      .content{
          display:flex;
          flex-direction: column;
          justify-content:center;
          align-items:center
      }
      .mapp{
           display:flex;
          flex-direction: column;
              
      }
  </style>


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>