@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
   
@if (SignInManager.IsSignedIn(User))
{
     IdentityUser myidentity = await Task.Run(() => UserManager.GetUserAsync(User));
    var roles = await Task.Run(() => UserManager.GetRolesAsync(myidentity));
    
    @if (roles.Contains("admin")){
     <li class="dropdown"><a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><b>Admin</b></a>
          <div class="dropdown-menu" style="">
               <a class="dropdown-item nav-link text-black" asp-area="" asp-controller="Producto" asp-action="Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Productos</font></font></a>
               <a class="dropdown-item nav-link text-black" asp-area="" asp-controller="Contacto" asp-action="ListarConsultas"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver Consultas</font></font></a>
               <a class="dropdown-item nav-link text-black" asp-area="" asp-controller="Reportes" asp-action="Reportes"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Reporte Ventas</font></font></a>
               <a class="dropdown-item nav-link text-black" asp-area="" asp-controller="Usuarios" asp-action="Usuarios"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Usuarios</font></font></a>          
          </div>
     </li>
     
    }
    


  

    
}
