@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesion";
}

<style>
    .bg{
       
        background-position:center center;
    }
</style>

<h1>@ViewData["Title"]</h1>
<section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Iniciar Sesion</h2>
                        <hr class="divider" />
                        
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                       
    <div class="text-center">
        <h1 class="display-4"></h1>
            <form id="account" method="post">
                <div class="mb-4 ">
                
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-4">
                    <input asp-for="Input.Email" class="form-control  form-control-sm" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="d-grid">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary btn-xl" >Iniciar Sesion</button>
                </div>
                <div class="my-3">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Olvidaste tu contraseña?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar email de confirmacion</a>
                    </p>
                </div>
                </div>
                
            </form>
        </div>
     </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        
                    </div>
                </div>
            </div>
        </section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
