@page
@model RegisterModel
@{
    ViewData["Title"] = "REGISTRAR";
}
    <link rel="stylesheet" href="~/css/registro.css" asp-append-version="true" />


<body>
<div class="row">
    <div class="col-md-4">
        <div class="registro-fondo">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="header2">
                 <h1>@ViewData["Title"]</h1>  
            </div> 
            <hr />
            <div class="main2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span>
                <div class="form-floating">
                    <i></i>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </span><br>
            <span>
                <div class="form-floating">
                    <i></i>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </span><br>
            <span>
                <div class="form-floating">
                    <i></i>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </span><br>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </div>
            </form>
        </div>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
