@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}
    
    <link href="~/css/styles copy.css" rel="stylesheet" />

<section class="page-section clearfix"id="contact">
            <div class="">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/img/comida.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                       <h2 class="section-heading mb-4 text-center">
                            <span class="section-heading-lower">Registrarse</span>
                            <hr class="divider" />
                        </h2>
                        <div class="text-left">
                        <h1 class="display-4"></h1>
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">  
                            <hr />
                            <div class="main2">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating">
                                <input asp-for="Input.Email" class="form-control  form-control-sm" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div><br>
                            <div class="form-floating">
                                <input asp-for="Input.Password" class="form-control  form-control-sm" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.Password"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div><br>
                            <div class="form-floating">
                                <input asp-for="Input.ConfirmPassword" class="form-control  form-control-sm" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword"></label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div><br>
                             <div class="intro-button mx-auto">
                                <button id="registerSubmit" type="submit" class="btn btn-primary btn-xl">Register</button>
                            </div>
                        </form>
                    </div>
                    
                    </div>
                </div>
            </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
