@{
    ViewData["Title"] = "QuienesSomos-";
}
<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="~/img/somos/1.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="~/img/somos/2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/img/somos/3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section id="biografia" class="biografia section-bggg">
 <div class="container">   
<div class="section-title">
        <h2 align="center" >PATO BLANCO</h2>
        <h2 align="center" >RESTARURANTE GASTRONOMICO</h2>
        <p1 data-aos="fade-in" align="left"> Pato Blanco es más que un restaurante, es un hogar y lo demostramos en la calidez de nuestra atención en cada visita a esta casa y en los detalles de cada plato
        </p1>

        <hr size="35px" width="100%" align="center" color="#394665"/>    

        <h2 align="center" >Nuestra Historia</h2>
        <p1 data-aos="fade-in" align="left"> Nuestra historia parte del esfuerzo y la tradición liderada por Maria Ramirez, cocinera en ferias, criollísima y caminante de las regiones del Perú, quien junto a su esposo fundaron con mucho esfuerzo un restaurante que rescata los Sabores de antaño con las recetas originales de nuestra valiosa cocina peruana, obteniendo el éxito inmediato y la manifestación del mismo en diversas premiaciones.
        Pato Blanco es la recopilación de experiencias hermosas recogidas en muchos años de experiencia culinaria y excelente servicio. Es así, que no podía haber otro lema que describa mejor nuestra naturaleza que "en esta casa si hay cariño", resumen de lo que significa la gastronomía en la vida de todos los peruanos desde sus primeros años con los recuerdos más profundos y bellos de la familia, los amigos y del lugar de donde procedemos.
        Hoy podemos decir que contamos con casas que te recibirán con el cariño de la tuya y te llevarán a esos momentos tan lindos de tu vida con un solo aroma o una sola sazón ¡Buen provecho y bienvenidos!
        </p1>

        <hr size="35px" width="100%" align="center" color="#394665"/>   

        <h2 align="left" >MISION</h2>
        <p1 data-aos="fade-in" align="left" > Satisfacer las necesidades gastronómicas de nuestros clientes, ofreciendo alimentos y servicios con la más alta calidad, donde superen las expectativas y además de ser un espacio de trabajo que permita el desarrollo de sus colaboradores y su constante aprendizaje.
        </p1>
        
          <hr size="35px" width="100%" align="center" color="#394665"/>     
        
        <h2 align="left" >VISION</h2>
        <p1 data-aos="fade-in" align="left"> Ser reconocidos entre los mejores restaurantes a nivel local y nacional por nuestra oferta gastronómica, ambiente y atención.
        </p1>
       </div>
       </div>
</section>

